:root {
    --main-bg-color: rgb(158, 99, 22);
    --main-bg-text: rgba(255, 255, 255, 0.926);
    --main-bg-secondary-color: rgb(33, 33, 37);
    --main-bg-terciary-color: rgb(14, 27, 79);
    --main-formulary-text: rgba(246, 247, 248, 0.866);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-bg {
    color: var(--main-bg-text);
    background-color: var(--main-bg-color);
    margin: 0;
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.sign-in-bg {
    color: var(--main-bg-text);
    background-color: var(--main-bg-color);
    font-style: normal;
}

.main-button {
    color: var(--main-bg-text);
    background-color: var(--main-bg-secondary-color);
    border-radius: 5px;
    border: 1px solid var(--main-bg-text);
    padding: 10px;
    transition: background-color 0.5s;
}

@media (hover: hover) {
    .main-button:hover {
        background-color: var(--main-bg-color);
    }
}

.espacio {
    width: 100px;
}



@media (max-width: 768px) {
  .hidden { 
    display: none;}

}
.barras_de_experiencia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas: 
    "Fuerza Velocidad"
    "Carisma Inteligencia"
    "Suerte Jutsus";
    align-items: center;
}

.barra_de_experiencia {
    width: 100%;
    height: 20px; /* ajusta la altura de la barra según tus necesidades */
    background-color: var(--main-bg-text); /* ajusta el color de fondo de la barra */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

.relleno {
    height: 100%;
    background-color: var(--main-bg-terciary-color); /* ajusta el color de la barra de experiencia */
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#Fuerza .relleno {
    width: 50%;
    animation: animacionfuerza 4s ease-in-out forwards;
}
#Velocidad .relleno {
    width: 50%;
    animation: animacionvelocidad 4s ease-in-out forwards;
}
#Carisma .relleno {
    width: 50%;
    animation: animacioncarisma 4s ease-in-out forwards;
}
#Inteligencia .relleno {
    width: 50%;
    animation: animacioninteligencia 4s ease-in-out forwards;
}
#Suerte .relleno {
    width: 50%;
    animation: animacionsuerte 4s ease-in-out forwards;
}
#Jutsus .relleno {
    width: 50%;
    animation: animacionjutsus 4s ease-in-out forwards;
}

@keyframes animacionfuerza {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
}@keyframes animacionvelocidad {
    0% {
      width: 0;
    }
    100% {
      width: 90%;
    }
}@keyframes animacioncarisma {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}@keyframes animacioninteligencia {
    0% {
      width: 0;
    }
    100% {
      width: 30%;
    }
}@keyframes animacionsuerte {
    0% {
      width: 0;
    }
    100% {
      width: 75%;
    }
}@keyframes animacionjutsus {
    0% {
      width: 0;
    }
    100% {
      width: 70%;
    }
}
