.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-secondary-color);
    position: relative;
    padding: 0;
  
}

.footer__img img {
    width: 100px;
    height: 60px;
}

