.header {
    position: sticky;
    background-color: var(--main-bg-terciary-color);
    z-index: 1000;
    top: 0;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid var(--main-bg-text);
    
    
    
}

.header-img {
    width: 120px;    
}

.header-img img {
    width: 100%;    
}


.header ul.header__nav__list {
    list-style: none;
    display: flex;
    gap: 5px;
    margin-right: 10px;

}

.header__nav__list__item a{
    text-decoration: none;
}

